<html>

<head>
    <style>
        #NavBar {
            background-color: whitesmoke;
        }
    </style>
</head>

<body>
    <%- include("header2") %>
        <main>
            <img src="partyPlot/6.jpeg" alt="Landing Image" width="100%" height="750px" id="landingimg">
        </main>
        <%- include("footer") %>
</body>

</html>