<html>

<head>
    <style>
        #webSiteLogo {
            margin-top: 30px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        section {
            width: 84%;
            margin: 30px 8% 50px 8%;
            padding: 30px 40px 30px 40px;
            border-width: 3px;
            border-color: #b1ff97;
            border-style: solid;
            border-radius: 15px;
            box-shadow: 10px 10px #94ff71;
        }
        
        #PFHead {
            font-family: 'Belanosima', sans-serif;
            font-weight: 800;
            letter-spacing: 1px;
            text-align: left;
            font-size: 35px;
            margin-left: 15px;
            margin-bottom: 30px;
            color: rgb(64, 118, 255);
        }
        
        #NavBar {
            background-color: #b1ff97;
        }
    </style>
</head>

<body>
    <%- include("header2") %>
        <img src="webSiteLogo.png" alt="WebSite Logo" height="60px" id="webSiteLogo">
        <section>
            <h2 id="PFHead">
                Profile
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 17 17" style="margin-bottom: 4px;">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                </svg>
            </h2>
            <form action="" method="post">
                <div class="container text-center">
                    <div class="row align-items-start mb-3">
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="firstNamePF" placeholder="ABC" name="firstNamePF" value="<%= log.firstname %>" style="letter-spacing: 1px">
                                <label for="firstNamePF">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="lastNamePF" placeholder="ABC" name="lastNamePF" value="<%= log.lastname %>" style="letter-spacing: 1px">
                                <label for="lastNamePF">Last name</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center">
                    <div class="row align-items-start mb-3">
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="addressNamePF" placeholder="ABC" name="addressNamePF" value="14/1/89 motifali, morabhagl, rander, surat" style="letter-spacing: 1px">
                                <label for="addressNamePF">address</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <%- include("footer") %>
</body>

</html>